html, body {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    color: white;
    background-color: #2F2FA2;
  }
  
.flexbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.login {
    margin: 0 auto;
}

.login-head {
    padding: 1.4rem 2rem;
    text-align: center;
    margin-top: 2rem;
    font-family: Verdana;

    position: relative;
    display: inline-block;
    font-weight: 900;

    font-size: 1.6em;
}

label {
    position: relative;
    display: inline-block;
    margin: 8px;
    font-size: 20px;
}

input {
    margin: 6px auto;
    margin-bottom: 1em;
    width: 280px;
    font-size: 20px;
    border: solid transparent;
}

button {
    position: relative;
    display: block;
    clear: both;
    margin-top: 20px;
    border: 4px solid deeppink;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    padding: 10px 14px;
    cursor: pointer;
    transition-duration: 0.2s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover {
    background-color: deeppink;
}
  
button:active {
    background-color: crimson;
    border-color: crimson;
    transition-duration: 0s;
}