/*
*  Todo list functionality
*/

.main-value-proposition {
    width: 500px;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    min-height: 400px;
}

.small-header {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 50px 0 0;
}

/*
* add-container class
*/

.addnew-label {
    display: block;
    color: fuchsia;
    font-weight: 700;
    font-size: 20px;
    padding: 30px 0 10px;
    margin: 0 0 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.input-type-2 {
    width: 80%;
    margin: 0;
    font-size: 22px;
    outline: none;
    line-height: 22px;
    height: 22px;
    padding: 10px;
    border: 1px solid #9e8797;
    border-radius: 6px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button-type-2 {
    width: 10%;
    background: none;
    border: none;
    color: fuchsia;
    outline: none;
    font-size: 20px;
    font-weight: 300;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}

/*
* Todo list classes
*/

#list-of-todos {
    margin: 0;
    padding: 0;
}

.todo-listitem {
    padding: 20px 0;
    border-bottom: 1px solid white;
    overflow: hidden;
    clear: both;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.todo-label-text {
    font-size: 26px;
    width: 60%;
    padding: 0 5px 0 10px;
    float: left;
}

.delete-button {
    background: none;
    border: none;
    color: fuchsia;
    font-size: 18px;
    outline: none;
    width: 100px;
    margin: 0 5px;
    float: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}